<% include header %>

 <div class="grid-container1">
    <div class="item5"> <h2>Send me an email!</h2>
        
        <form action="mailto:telio@deCastro.com" method="post" enctype="text/plain">
        Name:<br>
        <input type="text" name="name"><br>
        E-mail:<br>
        <input type="text" name="mail"><br>
        Comment:<br>
        <input type="text" name="comment" size="50"><br><br>
        <input type="submit" value="Send">
       
        </form><br><br></div>
    <div class="item7"> <h2>Here are some other places to find me!</h2>
        <img class=center src="images/github.png" alt="Github" width="224" height="224" /><br>  
        <a class=center href="https://github.com/deCastroT">Github</a><br>
        
        <img class=center src="images/bitbucket.png" alt="Bitbucket" width="592" height="85" /><br>  
        <a class=center href="https://bitbucket.org/deCastroT/">BitBucket</a>
        <br></div>
    <div class="item6"><img class=center src="images/linkedin.png" alt="LinkedIn" width="362" height="139" /><br>  
        <a class=center href="https://www.linkedin.com/in/teliodecastro">LinkedIn</a><br><br>
        <a id=email href="mailto:telio@decastro.com">telio@decastro.com</a></div>  
  
  </div>

 </body>
 
 <% include footer %>

