<% include header %>

 <img src="images/20180612_120929.png" class= "image-circle" alt="Image description" width="200" height="220" /> 
 <div class="grid-container">
    <div class="item1"><h3 class=centdesc>Current</h3>
        <p>I am a senior working towards my BS in Management Information Systems. I am also working on a minor in Data Management. If everything goes well I will be graduating this December.</p>
        <br></div>
    <div class="item3"><h3 class =centdesc>Background</h3>
        <p>I'm from Blue Springs, Missouri. It's about 30 minutes away from Kansas City. During my senior year of high school I decided to go to Northwest because the technology program looked good and I loved the feel of the campus. Some things I enjoy doing are playing around with my dog, traveling, and hanging out with friends.</p>
        <br></div>
    <div class="item2"><br>
        <h3 id=sched>Schedule</h3>
        <ul>
        <li>Adv Topic in Database Systems 11:00 MWF</li>
        <li>Web Apps 12:00 MW</li>
        <li>Web Development 9:35 TR</li>
        <li>Org Pol and Dec Making ONLINE</li>
        <li>Spreadsheet Applications ONLINE</li>
        <li>Database Applications ONLINE</li>
        <li> Adv Spreadsheets and Charts ONLINE</li>
        </ul></div>  
  <div class = "item4"?><iframe width="560" height="315" src="https://www.youtube.com/embed/wxQR5kokq68"  allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
  </div>  



</body>


<% include footer %>